In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"G:\chromedriver.exe")

In [3]:
#Scrapping Car Data from cars24.com

url1="https://www.cars24.com/buy-used-car?sort=P&search=HYUNDAI&storeCityId=8597&pinId=201301"
driver.get(url1)

In [4]:
ModelList=[]
brandList=[]
manufacturingYearList=[]
variantList=[]
KmDrivenList=[]
ownerList=[]
versionList=[]
priceList=[]
locationList=[]

In [5]:
def scrapData(location):
   
    #time.sleep(5)
    model=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/h2")
    for i in model:
        #print(i.text)
        str=i.text
        m1=str.split(" " ,2)
        model=str.split()[1]
        #print(m1[0])
        #print(m1[1])
        #print(m1[2])
        ModelList.append(m1[2])
        manufacturingYearList.append(m1[0])
        brandList.append(m1[1])

    variant=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p")
    for i in variant:
        #print(i.text)
        variantList.append(i.text)

    Km=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]")
    for i in Km:
        #print(i.text)
        str1=i.text
        str1=str1.split()[0] 
        str1=str1.replace(",","")
        #print(str1)
        str1=int(str1)
        #print(type(str1))
        KmDrivenList.append(str1)

    owner=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]")
    for i in owner:
        #print(i.text)
        ownerList.append(i.text)

    version=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]")
    for i in version:
        #print(i.text)
        versionList.append(i.text)  

    price=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]/span")
    for i in price:
        #print(i.text)
        str2=i.text
        str2=str2[1:]
        
        str2=str2.replace(",","")
        #print(str2)
        str1=int(str2)
        #print(type(str2))
    
        priceList.append(str2) 
        locationList.append(location)

In [6]:
scrapData("Noida")

In [7]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

565
565
565
565
565
565
565
565
565

In [8]:
url="https://www.cars24.com/buy-used-car?carName=RENAULT&sort=P&storeCityId=4709&pinId=560001"
driver.get(url)

In [9]:
scrapData("Bengaluru")

In [10]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

605
605
605
605
605
605
605
605
605

In [11]:
url="https://www.cars24.com/buy-used-car?carName=HYUNDAI&sort=P&storeCityId=3686&pinId=500001"
driver.get(url)

In [12]:
scrapData("Hyderabad")

In [13]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

699
699
699
699
699
699
699
699
699

In [14]:
url="https://www.cars24.com/buy-used-car?carName=TOYOTA&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [19]:
scrapData("Mumbai")

In [20]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1805
1805
1805
1805
1805
1805
1805
1805
1805

In [17]:
url="https://www.cars24.com/buy-used-maruti-cars-kolkata/"
driver.get(url)

In [18]:
scrapData("Kolkata")

In [21]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

1805
1805
1805
1805
1805
1805
1805
1805
1805

In [22]:
url="https://www.cars24.com/buy-used-hyundai-cars-kolkata/"
driver.get(url)

In [23]:
scrapData("Kolkata")

In [24]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

2300
2300
2300
2300
2300
2300
2300
2300
2300

In [25]:
url="https://www.cars24.com/buy-used-car?carName=MAHINDRA&sort=P&storeCityId=4709&pinId=560001"
driver.get(url)

In [26]:
scrapData("Bengaluru")

In [27]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

2314
2314
2314
2314
2314
2314
2314
2314
2314

In [28]:
url="https://www.cars24.com/buy-used-maruti-cars-bengaluru/"
driver.get(url)

In [29]:
scrapData("Bengaluru")

In [30]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

2721
2721
2721
2721
2721
2721
2721
2721
2721

In [31]:
url="https://www.cars24.com/buy-used-car?carName=MARUTI&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [32]:
scrapData("Mumbai")

In [33]:
print(len(ModelList))
print(len(brandList))
print(len(manufacturingYearList))
print(len(variantList))
print(len(KmDrivenList))
print(len(ownerList))
print(len(versionList))
print(len(priceList))
print(len(locationList))

3601
3601
3601
3601
3601
3601
3601
3601
3601

In [34]:
df=pd.DataFrame({})
df['Brand']=brandList
df['Model']=ModelList

df['Year']=manufacturingYearList
df['Variant']=variantList
df['Location']=locationList
df['version']=versionList
df['Number of Owners']=ownerList
df['KmDriven']=KmDrivenList
df['Price']=priceList

In [35]:
df

,Brand,Model,Year,Variant,Location,version,Number of Owners,KmDriven,Price
0,Hyundai,Grand i10,2015,SPORTZ 1.1 CRDI Manual,Noida,Diesel,1st Owner,29895,358999
1,Hyundai,VENUE,2021,S MT 1.2 KAPPA,Noida,Petrol,1st Owner,2589,794699
2,Hyundai,Eon,2015,MAGNA PLUS Manual,Noida,Petrol,1st Owner,14940,277699
3,Hyundai,i20,2013,ERA 1.4 CRDI Manual,Noida,Diesel,1st Owner,32281,326899
4,Hyundai,Grand i10,2015,SPORTS 1.2 VTVT Manual,Noida,Petrol,1st Owner,26307,405999
...,...,...,...,...,...,...,...,...,...
3596,Maruti,Baleno,2016,DELTA 1.2 K12 Manual,Mumbai,Petrol,2nd Owner,62591,456099
3597,Maruti,Alto 800,2015,LXI Manual,Mumbai,Petrol,1st Owner,57014,231799
3598,Maruti,Alto 800,2016,LXI Manual,Mumbai,Petrol,1st Owner,50885,258599
3599,Maruti,Swift,2015,VXI Manual,Mumbai,Petrol,3rd Owner,59155,416299
3600,Maruti,Baleno,2019,ZETA 1.2 K12 Manual,Mumbai,Petrol,1st Owner,8848,713499